body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #222;
  color: #fff;
}

#game {
  position: relative;
}

#pongTable {
  background: #000;
  border: 2px solid #fff;
  width: 100%;
  max-width: 400px; 
  height: 100vh; 
  max-height: 600px; 
}

